/* @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Fira+Code:wght@400&family=Roboto+Condensed&family=Monda&family=Neuton:wght@700&family=Offside&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* h2 {
  @apply text-3xl md:text-7xl font-Neuton my-80 md:my-4 text-green-600;
} */
#checkbox:checked + label .switch-ball {
  background-color: white;
  transform: translateX(24px);
  transition: transform 0.3s linear;
}

/* #checkbox: checked + label .switch-ball {
  background-color: white;
  transform: translateX(24px);
  transition: transform 0.3s linear;
} */

@layer components {
  #nprogress .bar {
    @apply dark:bg-slate-100 bg-slate-800;
  }
  .prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
    @apply dark:text-slate-300;
  }
  .sidebar a {
    @apply text-slate-600;
    @apply dark:text-slate-300;
  }
  .message {
    @apply bg-slate-100 dark:bg-slate-500 border rounded-xl overflow-hidden mx-2;
  }
  .button {
    @apply bg-green-700 opacity-100 hover:bg-green-600  dark:bg-amber-600 dark:hover:bg-amber-700  shadow font-Monda focus:outline-none text-white font-bold py-2 px-4 rounded-lg cursor-pointer;
  }

  .message header {
    @apply bg-[#42b983] w-full p-1 text-white font-semibold;
  }
  .message.warning header {
    @apply bg-orange-500;
  }
  .message.warning i::before {
    content: "";
  }
  .message i:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    font-style: normal;
    padding: 0.5em 0.75em;
    width: 2.5em;
    height: 100%;
  }
  .message p {
    @apply px-4;
  }
  span.comment.linenumber.react-syntax-highlighter-line-number {
    @apply border-r mr-2;
  }
  span#text-highlight {
    @apply bg-green-200;
    /* background-color: #b0f8ea; */
  }
  .read-extra {
    @apply break-words relative py-4 px-2 border-2 rounded-xl border-pink-500
    overflow-wrap break-word;
  }

  .read-extra:before {
    content: "Refer";
    background: #ff828c;
  }

  .read-extra:before {
    padding: 1px 8px 1px 3rem;
    font-weight: 700;
    border: 1px solid;
    border-radius: 32px;
  }

  .read-extra:after,
  .read-extra:before {
    margin: 0;
    position: absolute;
    top: -1em;
    left: 10px;
    color: #fff;
  }

  .read-extra:after {
    content: "";
    font-family: Font awesome\5 Free;
    font-weight: 900;
  }

  .read-extra:after {
    padding: 1.5px 8px;
  }
}
