/* @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Fira+Code:wght@400&family=Roboto+Condensed&family=Monda&family=Neuton:wght@700&family=Offside&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* h2 {
  @apply text-3xl md:text-7xl font-Neuton my-80 md:my-4 text-green-600;
} */
#checkbox:checked + label .switch-ball {
  background-color: white;
  transform: translateX(24px);
  transition: transform 0.3s linear;
}

/* #checkbox: checked + label .switch-ball {
  background-color: white;
  transform: translateX(24px);
  transition: transform 0.3s linear;
} */

@layer components {
  #nprogress .bar {
    @apply dark:bg-slate-100 bg-slate-800;
  }
  .prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
    @apply dark:text-slate-300;
  }
  .sidebar a {
    @apply text-slate-600;
    @apply dark:text-slate-300;
  }
  .message {
    @apply bg-slate-100 border rounded-md overflow-hidden mx-2;
  }
  .button {
    @apply bg-green-700 opacity-100 hover:bg-green-600  dark:bg-amber-600 dark:hover:bg-amber-700  shadow font-Monda focus:outline-none text-white font-bold py-2 px-4 rounded-lg cursor-pointer;
  }
  .post-snippet {
    font-style: italic;
    font-weight: bold;
    color: #4f4f4f !important;
  }
  .message header {
    @apply bg-[#42b983] w-full p-1 text-white font-semibold;
  }
  .warning header {
    @apply bg-[#ff6f00];
  }
  .warning i::after {
    content: "";
  }
  .message i:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    font-style: normal;
    padding: 0.5em 0.75em;
    width: 2.5em;
    height: 100%;
  }
  .message p {
    @apply px-4;
  }
}
